.done{

    text-decoration:none;
}
span{
    float: right;
    color: red;
}


div{
text-align: center;
margin: 15px;


}
div.wrapper div ul li {
list-style: none;

}
 a.nav-link{
    color:white;

}