.done{

    text-decoration:none;
}
.items .done a span.del{
    float: right;
    color: red;
}


div.wrapper{
text-align: center;
margin: 15px;


}
div.wrapper div ul li {
list-style: none;

}
 .navbar .container-fluid div .navbar-nav li.nav-item a{
    color:white;

}
.navbar a.navbar-brand{

    color: white;
}